name: CV to PDF
# https://github.com/BaileyJM02/markdown-to-pdf

on:
  push:
    branches:
      - master
    paths:
      - 'josef_cacek_cv.md'
      - '.github/workflows/cv-to-pdf.yml'

jobs:
  converttopdf:
    name: Build PDF
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: baileyjm02/markdown-to-pdf@v1.2.0
        with:
          input_path: josef_cacek_cv.md
          output_dir: pdfs
          build_html: false
      - name: Move cv tag to latest commit
        run: |
          git tag -f cv
          git push origin cv --force
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@483c1e56f95e88835747b1c7c60581215016cbf2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: pdfs/josef_cacek_cv.pdf
          tag: cv
          overwrite: true
